@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  letter-spacing: 2px;
}
body {
  background-image: linear-gradient(
    to right,
    #bfd9f2,
    #b9d5f3,
    #b4d0f4,
    #b0cbf5,
    #adc6f6,
    #a9c2f5,
    #a6bdf3,
    #a3b9f2,
    #9cb5ef,
    #96b1ec,
    #8fade8,
    #88a9e5
  );
}
.main {
  width: 100%;
  height: 100vh;
}
/*----------------------------------Navi------------------------------------*/
.bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  z-index: 999;
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.navigation {
  align-items: center;
}
.navigation a {
  text-decoration: none;
  color: #357076;
  margin-right: 60px;
  font-size: 1.5em;
  font-weight: 800;
}
.navigation a:nth-child(4) {
  margin: 0;
}

.navigation a:hover {
  color: #00353d;
}
/*--------------------------------------------------------------------------*/
/*----------------------------------Hover animation------------------------------------*/
.underline-hover-animation {
  display: inline-block;
  position: relative;
}
.underline-hover-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00353d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline-hover-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*--------------------------------------------------------------------------*/
/*----------------------------------Home------------------------------------*/
.home {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.photo {
  margin: auto;
}
.photo img {
  width: 350px;
  height: 350px;
  transition: transform 0.5s ease-in-out;
}
.photo img:hover {
  transform: scale(1.1);
}

.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
}

.about .specialization {
  margin-bottom: 5px;
  padding-left: 10px;
  border-left: solid;
  border-color: #ff6b46;
  color: #2d1863;
  font-size: 20px;
  font-weight: 500;
}
.about .name {
  margin-bottom: 20px;
  color: #2d1863;
  font-family: "Abril Fatface", cursive;
  font-size: 60px;
}
.about .intro {
  max-width: 500px;
  color: #324b4e;
  font-weight: 450;
}
.reload-slide-left {
  animation: slide-in-left 1.5s ease-in-out both;
}
.fade {
  animation: fadeout 2s ease-in-out both;
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
/*------------------------------------------------------------------------------*/
/*----------------------------------Services------------------------------------*/
.services {
  width: 100%;
  padding: 10px;
}
.header {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 50px;
}
.header .underline-header {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #2d1863;
  font-weight: 900;
  font-size: 3.5em;
  display: inline-block;
  position: relative;
}
.header .underline-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 75px;
  width: 50%;
  height: 3px;
  background-color: #2d1863;
}

.cards {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 70px;
}
.title,
.icons {
  text-align: center;
}
.title {
  color: #08a396;
  font-weight: 650;
  font-size: 30px;
}
.description {
  font-size: 20px;
  font-weight: 500;
  color: #485759;
  padding: 30px;
}
.icons img {
  width: 160px;
  height: 160px;
  margin: 20px 0px;
  transition-delay: 0.2s;
  transition: transform 0.5s ease-in-out;
}
.card:hover .icons img {
  transform: scale(1.2);
}
.card {
  height: 560px;
  border-radius: 30px;
  box-shadow: 0 5px 25px rgba(0 227 255 / 35%);
  background-color: #ebf8f9;
  transition: transform 0.5s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 25px rgba(0 227 255 / 95%);
}
.js-ordered-scroll {
  opacity: 0;
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

/*------------------------------------------------------------------------------*/
/*----------------------------------Projects------------------------------------*/
.projects {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0.85);
}
.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: 32em;
  height: 35em;
  background-color: whitesmoke;
  border-radius: 50px;
  box-shadow: 0 5px 25px rgba(66 0 255 / 55%);
  transition: transform 0.5s ease-in-out;
}
.fit:hover .layout {
  box-shadow: 0 5px 25px rgba(66 0 255 / 100%);
  transform: scale(0.9);
}
.position {
  grid-row: 2/5;
}
.project-images {
  position: relative;
  border-radius: 10px;
  width: 35em;
  height: 19em;
  margin-bottom: -10rem;
  z-index: 200;
  transition: transform 0.5s ease-in-out;
}
.fit:hover .project-images {
  transform: translateY(-130px);
}

.external-link-icon {
  width: 20px;
  height: 20px;
}
.link-contianer {
  display: flex;
  grid-row: 1/2;
  align-items: center;
  justify-content: center;
}
.preview {
  display: inline-block;
  text-decoration: none;
}
.preview-text {
  color: #2e00b0;
  font-weight: 800;
  font-size: 20px;
}
.bottom-model {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-color: #2e00b0;
  border-radius: 40px;
  width: 170px;
  padding: 20px;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}

.description-container .title {
  color: #6d43af;
  font-size: 2.5rem;
}
.description-container .description {
  text-align: center;
}
.js-closing-window {
  opacity: 0;
}
@keyframes closing-window-right {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes closing-window-left {
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
/*------------------------------------------------------------------------------*/
/*----------------------------------Contact------------------------------------*/
.contact {
  margin-bottom: 100px;
}
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.contact-form {
  width: 25em;
  height: 30em;
  margin: auto;
  background: rgba(225, 225, 255, 0.8);
  border: 2px solid rgba(225, 225, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  padding: 60px;
  box-shadow: 0 5px 25px rgba(0 227 255 / 50%);
}
.input-control {
  width: 100%;
  border: none;
  border-bottom: 2px solid #1e3050;
  outline: none;
  background: transparent;
  margin-bottom: 60px;
  padding-bottom: 5px;
  font-size: 1.1rem;
}
.input-box {
  position: relative;
}
.label-control {
  font-weight: 500;
  font-size: 1.1rem;
  position: absolute;
  left: 0;
  top: -17px;
  transition: 0.2s ease-in-out;
}
.message{
  font-weight: 500;
  font-size: 1.1rem;
}
.input-control:focus + .label-control {
  top: -35px;
}
textarea {
  font-size: 1.1rem;
  width: 100%;
  height: 6em;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  border: 2px solid #1e3050;
  border-radius: 10px;
  resize: none;
  margin-top: 15px;
  margin-bottom: 30px;
}
.submit {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.15em;
  color: white;
  font-weight: 600;
}
.outro {
  padding-left: 60px;
}
.media {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: left;
  padding: 50px;
}
.information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  height: 2.5em;
  padding: 20px;
  cursor: pointer;
}
.information img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 0;
}
.information:hover {
  border-radius: 20px;
  background-image: linear-gradient(
    to right top,
    #630dc2,
    #6020cf,
    #5b2ddd,
    #5539ea,
    #4b44f8
  );
  color: white;
}
.hire {
  font-size: 3em;
  font-weight: 800;
}
.media-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.media-icons img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
