/* ? you will notice that there are styles for blinking bar but it doesn't exist because i replaced it with the typed.js */
/*----------------------------------Navigation Bar------------------------------------*/
.bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 90px;
  z-index: 999;
  backdrop-filter: blur(3px) ;
  border-radius: 10px;
  top: 0;
  margin-bottom: 0;
}
.navigation {
  align-items: center;
}
.navigation a {
  cursor: pointer;
}
.navi-elements {
  color: #8c4fc4;
  margin-right: 60px;
  font-size: 1.5em;
  font-weight: 800;
}
.navi-elements:nth-child(5) {
  margin: 0;
}
/*--------------------------------------------------------------------------*/
/*----------------------------------Home------------------------------------*/
.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.photo {
  margin: auto;
}
.photo img {
  width: 350px;
  height: 350px;
  transition: transform 0.5s ease-in-out;
}
.photo img:hover {
  transform: scale(1.1);
}

.personal-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
}

.specialization {
  margin-bottom: 5px;
  padding-left: 10px;
  border-left: solid;
  border-color: #ff6b46;
  color: #2d1863;
  font-size: 1.25rem;
  font-weight: 500;
}
.name {
  margin-bottom: 20px;
  color: #2d1863;
  font-family: "Abril Fatface", cursive;
  font-size: 3.75rem;
}
.intro {
  max-width: 500px;
  color: #324b4e;
  font-weight: 450;
  text-align: justify;
}
.autoType,
.blinkingBar,
.typed-cursor {
  background-image: linear-gradient(
    to right,
    rgb(164, 76, 202),
    rgb(105, 33, 230),
    rgb(128, 23, 177)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  animation: movingBackground 3s linear infinite;
  background-size: 200%;
}
.cv-button {
  background-color: #8c4fc4;
  box-shadow: 0px 0px 17px 4px #a869de;
  width: 180px;
  margin-top: 40px;
}
.cv-button:hover {
  background-color: #8b00ff;
  box-shadow: 0px 0px 24px 1px rgba(139, 0, 255, 1);
}
.cv-a {
  width: 180px;
}
.blinkingBar {
  animation: blinkBar 1.5s infinite ease-in-out;
}
@keyframes movingBackground {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
@keyframes blinkBar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*----------------------------------------Media Queries-------------------------------*/

/* lg */
@media (max-width: 1024px) {
  .photo img {
    width: 230px;
    height: 230px;
  }
  .name {
    font-size: 2.8rem;
  }
  .specialization {
    font-size: 1.1rem;
  }
  .intro {
    font-size: 0.8rem;
  }
  .navi-elements {
    margin-right: 35px;
  }
}

/* md */
@media (max-width: 768px) {
  .photo img {
    width: 180px;
    height: 180px;
  }
  .name {
    font-size: 2rem;
  }
  .specialization {
    font-size: 0.8rem;
  }
  .intro {
    font-size: 0.6rem;
  }
  .bar {
    display: none;
  }
}

/* sm */
@media (max-width: 640px) {
  .hero {
    flex-direction: column-reverse;
  }
  .photo img {
    width: 260px;
    height: 260px;
  }
  .name {
    font-size: 2.8rem;
  }
  .specialization {
    font-size: 1.1rem;
  }
  .intro {
    font-size: 0.8rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .name {
    font-size: 2.2rem;
  }
  .specialization {
    font-size: 0.9rem;
  }
  .intro {
    font-size: 0.7rem;
  }
  .cv-button,
  .cv-a {
    width: 150px;
    font-size: 1rem;
  }
}
/* 2xs */
@media (max-width: 375px) {
  .name {
    font-size: 1.8rem;
  }
}
