.mobile-nav-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  color: #00353d;
  border: none;
  display: none;
  z-index: 1001;
}
.mobile-nav {
  position: fixed;
  width: 260px;
  right: 0;
  z-index: 1000;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px 0px 0px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
.mobile-nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.mobile-nav-link {
  font-size: 1.3rem;
  font-weight: 900;
  color: #02293f;
  transition: color 0.3s ease-in-out;
}
.mobile-nav-link:hover {
  color: #38144d;
}
.mobile-nav-line {
  border: 1px solid #00353d;
  padding-right: 1.5em;
}

/* md */
@media (max-width: 768px) {
  .mobile-nav-icon {
    display: block;
  }
}
@media (max-width: 320px) {
  .mobile-nav{
    width: 190px;
  }
}
