/*----------------------------------Services------------------------------------*/
.services {
  padding: 10px;
}
.cards {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 70px;
}
.title,
.icons {
  text-align: center;
}
.title {
  color: #08a396;
  font-weight: 650;
  font-size: 30px;
}
.description {
  font-size: 20px;
  font-weight: 500;
  color: #485759;
  padding: 30px;
}
.icons img {
  width: 160px;
  height: 160px;
  margin: 20px 0px;
  transition-delay: 0.2s;
  transition: transform 0.5s ease-in-out;
}
.card {
  /**to allow the card to make transition while making the animation*/
  /*?Also because it seems that i cant make animation and transition on the same element*/
  height: 560px;
  border-radius: 30px;
  box-shadow: 0 5px 25px rgba(0 227 255 / 35%);
  background-color: #ebf8f9;
  transition: transform 0.5s ease-in-out;
}
.card:hover .icons img {
  transform: scale(1.2);
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 25px rgba(0 227 255 / 95%);
}

/*------------------------------------------------------------------------------*/
/*----------------------------------------Media Queries-------------------------------*/

/* 2xl */
/* @media (max-width: 1536px) {
 
} */

/* xl */
@media (max-width: 1280px) {
  .cards {
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    padding: 30px;
  }
}

/* lg */
/* @media (max-width: 1024px) {

} */

/* md */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  }
}

/* sm */
/* @media (max-width: 640px) {
  
} */

/* xs */
@media (max-width: 475px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  }
}

@media (max-width: 375px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  }
}