/* ! Note about this section. In the beginning this section was made with grid but it was difficult 
!    to make responsive because of the lines which i had to redesign for each media so i decided to make it position absolute  */

.tracker {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
}
#obj6 {
  background: #00fff0;
  box-shadow: 0px 0px 32px 4px rgba(0, 255, 240, 1);
}
#obj5 {
  background: #ca34ff;
  box-shadow: 0px 0px 32px 4px rgba(202, 52, 255, 1);
}
#obj4 {
  background: #d8d8d8;
  box-shadow: 0px 0px 32px 5px rgba(216, 216, 216, 1);
}
#obj3 {
  background: #3787ff;
  box-shadow: 0px 0px 33px 6px rgb(55, 135, 255);
}
#obj2 {
  background: #00b3fd;
  box-shadow: 0px 00px 32px 2px rgba(0, 179, 253, 1);
}
#obj1 {
  background: #fe0f73;
  box-shadow: 0px 0px 32px 2px rgba(254, 15, 115, 1);
}

.svg-container {
  width: 438px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 46.2%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/*----------------------------------Services------------------------------------*/
.services ul {
  font-weight: 500;
  text-align: center;
  list-style-position: inside;
}
.services li {
  margin: auto;
  font-size: 0.7rem;
  padding-left: 5px;
}
.services {
  padding: 10px;
}
.circles {
  position: relative;
  width: 100%;
  height: 800px;
}
.circles .circle img {
  width: 75px;
  height: auto;
  cursor: pointer;
}
.circle,
.brain,
.blink-animation,
.scale-animation {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.brain {
  /* grid-column: 2 / span 1;
  justify-self: center; */
  background-image: radial-gradient(
    circle,
    #e0ffb0,
    #a9ce84,
    #749f5a,
    #417233,
    #07480f
  );
  width: 150px;
  height: 150px;
  margin-left: 1px;
  animation: blink7 2s ease-in-out infinite;
  cursor: default;
  top: 39.5%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.figma {
  /* grid-column: 1 / span 3;
  justify-self: center;
  align-self: end; */
  background-image: radial-gradient(
    circle,
    #ecdae4,
    #d0a8be,
    #b47898,
    #984772,
    #7a064d
  );
}
.figma-position {
  top: 9%;
  left: 47%;
}
.circles .figma img {
  width: 50px;
  height: auto;
}
.figmaShadow {
  box-shadow: 0px 0px 28px -2px rgba(254, 15, 115, 1);
}
.coding {
  /* grid-column: 1 / span 1;
  justify-self: end; */
  background-image: radial-gradient(
    circle,
    #dae6ec,
    #a6bece,
    #7497b1,
    #457195,
    #064d7a
  );
}
.coding-position {
  top: 24%;
  left: 27%;
}
.codingShadow {
  box-shadow: 0px 0px 33px 6px rgba(69, 196, 251, 1);
}
.arduino {
  /* grid-column: 3 / span 1;
  justify-self: start; */
  background-image: radial-gradient(
    circle,
    #b0ffff,
    #89d9d8,
    #63b5b2,
    #3d918d,
    #0a6f6a
  );
  margin-left: 1px;
}
.arduino-position {
  top: 24%;
  left: 66%;
}
.arduinoShadow {
  box-shadow: 0px 0px 16px 2px #00fff0;
}
.code {
  /* grid-column: 1 / span 1;
  justify-self: end; */
  background-image: radial-gradient(
    circle,
    #bec0c9,
    #9398b7,
    #6a72a3,
    #414d8f,
    #062a7a
  );
}
.code-position {
  top: 64%;
  left: 27%;
}
.codeShadow {
  box-shadow: 0px 0px 45px -1px #3787ff;
}
.github {
  /* grid-column: 3 / span 1;
  justify-self: start; */
  background-image: radial-gradient(
    circle,
    #e0c4f8,
    #bb96d9,
    #9769bb,
    #733c9c,
    #4f067e
  );
  margin-left: 1px;
}
.github-position {
  top: 64%;
  left: 66%;
}
.githubShadow {
  box-shadow: 0px 0px 24px 0px rgba(202, 52, 255, 1);
}
.react {
  /* grid-column: 1 / span 3;
  justify-self: center;
  align-self: start; */
  background-image: radial-gradient(
    circle,
    #daebec,
    #b3c2c3,
    #8e9a9b,
    #6b7575,
    #495151
  );
}
.react-position {
  top: 78%;
  left: 47%;
}
.reactShadow {
  box-shadow: 0px 0px 30px 4px #d8d8d8;
}
.scale-animation {
  transition: transform 1s ease-in-out;
}
.figma:hover .scale-animation,
.coding:hover .scale-animation,
.arduino:hover .scale-animation,
.code:hover .scale-animation,
.github:hover .scale-animation,
.react:hover .scale-animation {
  transform: scale(1.1);
}
/*------------------------------------------------------------------------------*/
/*----------------------------------------Media Queries-------------------------------*/

/* ! I am sorry for the next code but i really did not know any way to make responsive other this one */
/* ! Every good design comes with its down sides if you know better way please tell me as adding more services in the future will be very hard  */

/* 2xl */
@media (max-width: 1536px) {
  .coding-position {
    top: 24%;
    left: 25%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .coding-position,
  .code-position {
    left: 19%;
  }
  .arduino-position,
  .github-position {
    left: 75%;
  }
  .brain {
    left: 45%;
  }
}
@media (max-width: 1024px) {
  .coding-position,
  .code-position {
    left: 9%;
  }
  .arduino-position,
  .github-position {
    left: 85%;
  }
  .brain {
    left: 43%;
  }
}

/* md */
@media (max-width: 768px) {
  .circles {
    transform: scale(0.8);
  }
  .coding-position,
  .code-position {
    left: 0;
  }
  .arduino-position,
  .github-position {
    left: 90%;
  }
  .brain {
    left: 43%;
  }
}

/* sm */
/* @media (max-width: 640px) {
    
  } */

/* xs */
@media (max-width: 475px) {
  .circles {
    transform: scale(0.6);
  }
  .coding-position,
  .code-position {
    left: -30%;
  }
  .arduino-position,
  .github-position {
    left: 110%;
  }
  .svg-container {
    left: 170px;
  }
  .figma-position,
  .react-position {
    left: 45%;
  }
  .brain {
    left: 37%;
  }
}

@media (max-width: 375px) {
  .circles {
    transform: scale(0.5);
  }
  .arduino-position,
  .github-position {
    left: 120%;
  }
  .figma-position {
    left: 48%;
  }
  .brain {
    left: 40%;
  }
}
@media (max-width: 320px) {
  .circles {
    transform: scale(0.45);
  }
  .coding-position,
  .code-position {
    left: -40%;
  }
  .svg-container {
    left: 140px;
  }
  .brain {
    left: 37%;
  }
}
